<h1>Request:</h1>

<% if @pending_mentor_request.any?%>
  Pending mentor requests<br>
  <% @pending_mentor_request.each do |pairing| %>
    <% mentee = User.find(pairing.mentee_id) %>
    <span>
      <%= mentee.first_name %>
      <%= button_to 'Accept', edit_pairing_path, method: :get, params: {pairing_id: pairing.id, status: 'active'} %>
      <%= button_to 'Decline', edit_pairing_path, method: :get, params: {pairing_id: pairing.id, status: 'decline'} %>
    </span>
  <% end %>
<% else %>
  <p>You have no pending requests!</p>
<% end %>




<% if @pending_mentee_request.any?%>
  Pending mentee requests
  <br>
  <% @pending_mentee_request.each do |pairing| %>
    <% mentor = User.find(pairing.mentor_id) %>
    <span>
      <%= mentor.first_name %>
      <%= button_to 'Cancel', edit_pairing_path, method: :get, params: {pairing_id: pairing.id, status: 'cancel'} %>
    </span>
  <% end %>
<% else %>
  <p>You have not sent any requests!</p>
<% end %>

<%= link_to 'Profile', user_path(params[:id]) %>
