<body>
<br>
<h1 class= "text-center header">Please Update Your Profile</h1>
<br>

<%= form_for(@user) do |f| %>
<table>
  <tbody>
    <tr>
      <td> <%= f.label :first_name %>:<td>
      <td> <%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <td> <%= f.label :last_name %>:<td>
      <td> <%= f.text_field :last_name %></td>
    </tr>
    <tr>
      <td>  <%= f.label :email %>:<td>
      <td>  <%= f.text_field :email %></td>
    </tr>
    <tr>
      <td><%= f.label :position %>:<td>
      <td> <%= f.text_field :position %></td>
    </tr>
    <tr>
      <td><%= f.label :bio %>:<td>
      <td>  <%= f.text_area :bio %></td>
    </tr>
  </tbody>
</table>


  <%= f.submit 'Submit', :class => "btn font-weight-bold border-secondary btnpairing"%>
<% end %>

</body>
