<!DOCTYPE html>
<html>

<head>
</head>

<body>
<br>
<h1 class= "text-center header" >Your Profile</h1>
<br>

<div class="card cardprof card-1 col-md-6 text-md-center" id="card1">
<div class="card bg-secondary">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td><span class="bold" style="color:white">First Name:</span></td>
            <td style="color:white">
              <%= @user.first_name%>
            </td>
          </tr>
          <tr>
            <td><span class="bold" style="color:white">Last Name:</span></td>
            <td style="color:white">
              <%= @user.last_name%>
            </td>
          </tr>
          <tr>
            <td><span class="bold" style="color:white">Email:</span></td>
            <td colspan="2" style="color:white">
              <%= @user.last_name %>
            </td>
          </tr>
          <tr>
            <td><span class="bold" style="color:white">Position:</span></td>
            <td colspan="2" style="color:white">
              <%= @user.position %>
            </td>
          </tr>
          <tr>
            <td><span class="bold" style="color:white">Bio:</span></td>
            <td colspan="2" style="color:white">
              <%= @user.bio %>
            </td>
          </tr>
          <tr>
            <td><span class="bold" style="color:white">Need changes?</span></td>
            <td colspan="2" style="color:white">
              <%= link_to 'Click here to Edit Profile', edit_user_path, class: "profedit" %>	 
          </td>
        </tbody>
      </table>
    </div>
  </div>
<!--
<%= render partial: 'user_tags/form'%>	


 <h2 class="title"> Mentoring for the following topics:</h2>
 <% @user_tags_list.each do |user_selection| %>
 <li><%= topic_name = Topic.find(user_selection.topic_id).topic %></li>
 <% end %>

 <% request = 'Request' %>
 <% request += "(#{@pending_mentor_request.length})" if @pending_mentor_request.any? %>
 <%= link_to request, pairing_path(session[:user_id]) %>
 <%= link_to 'Inbox', posts_path%>
  <div>	 
  <%= link_to 'Edit Profile', edit_user_path %>	 
 </div>

-->

<br>
<br>
<br>



<div class="row">
  <div class="col-sm-6">
    <div class="card cardprof bg-secondary">
      <div class="card-body">
        <%= render partial: 'user_tags/form'%>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card cardprof bg-secondary">
      <div class="card-body">
        <h3 class="title text-center"> Currently Mentoring:</h3>
        <% @user_tags_list.each do |user_selection| %>
        <li class="topicname", style="list-style-type: none; font-weight: bold;"><%= topic_name = Topic.find(user_selection.topic_id).topic %></li>
        <% end %>
      </div>
      <div class="card requestcard text-md-center">
      <h2>
          <% request = "Mentorship Requests" %>
            <% request += "(#{@pending_mentor_request.length})" if @pending_mentor_request.any? %>
            <%= link_to request, pairing_path(session[:user_id]), class: "rqst" %>
      </h2>
       </div>
  
     </div>
    </div>
  </div>
</div> 
<br>
<br>



</body>
</html>
