<% if @post.errors.any? %>
<ul>
    <% @post.errors.full_messages.each do |msg| %>
    <h3> The following errors prevented your question from being posted <h3>
    <li> <%= msg %> </li>
    <% end %>
<ul>
<% end %>
<div class="i-am-centered">
  <div class = "row">
    <div class="col-md-6 text-md-center">
      <div class="card cardprof bg-secondary" style="width: 22rem; height: 20rem;">
        <div class= "card-body">
          <%= form_for @post do |f| %>
          <p>
              <%= f.label :subject, :class => "form_label" %> <br/>
              <%= f.text_field :subject, :class => "form_field" %> 
              <%= hidden_field_tag :pairing_id, @pairing.id %>
          </p>
          <p>
              <%= f.label :body, :class => "form_label" %> <br/>
              <%= f.text_area :body, :class => "form_field" %> 
          </p>
          <p>
              <%= f.submit 'Post Your Question', :class => "form_submit" %>
          </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



