<div class='container' id='message_parent'>
    <div class='row'>
        <div class='col-12 col-md-10' id='post_parent'>
            <h2 id='message_header' class= "text-center header">Messages</h2>
            <% @post.each do |post| %>
                <div class='container'id='post_card'>
                    <div class='row'>
                        <div class='col'>
                            <h3 id='post_subject'><%= link_to post.subject, post_path(post.id) %></h3>
                            <% author_first_name = User.find(post.user_id).first_name%>   
                                <span id='post_author'><strong>Author:</strong> <%= author_first_name %></span>
                                <span id='post_author'><strong>To:</strong> <%= post.receiving_user.first_name %></span><br>
                            <p id='post_body'><%= post.body %><p>
                            <div>
                                <h6 id='comment_header'><strong><em>Comments:</em></strong></h6>
                                <% post_comments = post.comments.map {|comment| comment.to_json(:include => :user)} %>
                                <%= react_component("Comment", comments: post_comments ) %>                            
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <div class='col-6 col-md-2'id='conversation_parent'>
            <h2 id='conversation_header' class= "text-center header">Conversations</h2>
            <h5 id='conversation_mentors_header'><em>Mentors:</em> </h5>
            <div id='conversation_mentors'>
                <% @user.mentee_pairings_with_post.each do |pairing| %>
                    <h6><%= User.find(pairing.mentor_id).first_name %></h6>
                <% end %>
            </div>
            <h5 id='conversation_mentees_header'><em>Mentees:</em> </h5>
            <div id='conversation_mentees'>
                <% @user.mentor_pairings_with_post.each do |pairing| %>
                    <h6><%= User.find(pairing.mentee_id).first_name %></h6>
                <% end %> 
            </div>
        </div>
    </div>
</div>


