<h1 class= "text-center header"> Question </h1>

<p> 
    Subject: <%= @post.subject %>
</p>

<p> 
    Question: <%= @post.body %>
</p>

<%= link_to 'Inbox', posts_path, :class => "btn font-weight-bold border-secondary btnpairing" %> |
<%= link_to 'Profile', user_path, :class => "btn font-weight-bold border-secondary btnpairing" %>


<div id ="comments">
  <h1 class="text-center header"> Comments</h1>
  <%@comments.each do |comment| %>
    <%= render partial: "comments/comment", locals: {comment: comment} %>
  <%end%>

   
  <h2 class="header"> Add a comment </h2>
  <%= render partial: "comments/form", locals: {comment: @post.comments.new} %>
</div>

<%= link_to 'Edit', edit_post_path(@post), :class => "btn font-weight-bold border-secondary btnpairing" %> |
<%= link_to 'Back', posts_path, :class => "btn font-weight-bold border-secondary btnpairing" %>