<!DOCTYPE html>
<html>

<head>
</head>
<body>

<h1>Welcome to your profile!!!</h1>

<p><strong>First Name:</strong> <%= @user.first_name%></p>
<p><strong>Last Name:</strong> <%= @user.last_name %></p>
<p><strong>Email:</strong> <%=@user.email %></p>
<p><strong>Position:</strong> <%= @user.position %></p>



<%= link_to "View your mentors and mentees", pairings_path(:id => @user.id)%></br>

<% request = 'Request' %>
<% request += "(#{@pending_mentor_request.length})" if @pending_mentor_request.any? %>
<%= link_to request, pairing_path(session[:user_id]) %></br>
<%= link_to 'Inbox', posts_path%>
<%#<%= link_to "Log out", logout_path, method: :delete %> 


</body>
</html>