<!DOCTYPE html>
<html>

<head>
</head>
<body>

<h1>Welcome to your profile!!!</h1>

<p><strong>First Name:</strong> <%= @user.first_name%></p>
<p><strong>Last Name:</strong> <%= @user.last_name %></p>
<p><strong>Email:</strong> <%=@user.email %></p>
<p><strong>Position:</strong> <%= @user.position %></p>



<%= link_to "Pairings Path", pairings_path(:id => @user.id)%></br>

<% request = 'Request' %>
<% request += "(#{@pending_mentor_request.length})" if @pending_mentor_request.any? %>
<%= link_to request, pairing_path(session[:user_id]) %>
<%= link_to "Log out", logout_path, method: :delete %>
<p><%= session[:user_id] %></p>

<br>
<%= link_to "Search for Topics" , topics_path %>
</br>
<br>
<%= link_to "Ask a Question", new_post_path %>
</btr>

</body>
</html>
